.story {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    box-shadow: 0 0 15px #EBF2FA;
}

#cynthia {
    background-color: #064789b2;
    width: 1000px;
    padding: 30px;
    border-radius: 25px;
}

#sam {
    background-color: #064789b2;
    width: 1000px;
    margin: 30px;;
    padding: 30px;
    border-radius: 25px;
}

.center-contain{
    display: flex;
    justify-content: center;
}

#about-background {
    background-image: url(images/fish-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #427AA1;
}