#mission-statement {
    text-align: center;
}

.button {
    background-color: #427AA1;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-top: 15px;
    padding: 15px;
    border: none;
    width: 477px;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: #427AA1;
    box-shadow: 0 0 15px #F4E8C1;
}

#form-background {
        box-sizing: border-box;
        margin: 20px auto;
        width: 625px;
        height: 300px;
        padding: 30px 50px;
        box-shadow: 0 0 15px #EBF2FA;
        background-color: #064789b2;
        background-size: cover;
        color: white;
        margin-top: 50px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        text-align: center;
        border-radius: 25px;

        justify-content: center;
        align-items: center;
        display: flex;
}

#form-header {
    text-align: center;
    color: white;
    margin-top: 45px;
}

#body-background {
    background-image: url(images/fish-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #427AA1;
}

#hours {
    margin-top: 15px;
    width: 470px;
}


