body {
    background-color: #EBF2FA;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.information {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    cursor: url("images/fish-cursor.png"), auto;  
}

.video-embed {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15px;
}